* {
  padding: 0;
  margin: 0;
}

.navbar-inverse {
  position: fixed !important;
  background-color: #1B2785 !important;
}

.fa-shopping-cart {
  font-size: 1.3em !important;
}

.btn-success {
  background-color: #0070B5 !important;
  font-size: .8em;
}

.btn-success:hover {
  background-color: #C61C39 !important;
}

.border-separator {
  width: 90%;
  margin-left: 5%;
  color: transparent;
  border-bottom: 1px solid #e7e7e7;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
}

.recomended, .next-event {
  position: relative;
  margin-top: 20px;
  min-height: 410px;
}

.recomended {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
}

.next-event {
  margin-right: 0;
  padding: 0;
}

.circle-shopping-cart {
  position: relative;
  background-color: #385CBA;
  border-radius: 50%;
  padding: .2em .5em;
  width: 60px !important;
}

hr {
  position: relative;
  width: 80%;
  border-color: grey;
}

.absolute {
  position: absolute;
}

.big-padding {
  padding: 30px;
}

.padding {
  padding: 0px;
}

.large-padding {
  padding: 10px 15px;
}

.no-transform {
  text-transform: none;
}

.panel-default img {
  position: relative;
  text-align: center;
  width: 100%;
  height: 355px;
}

.panel-body a {
  position: relative;
  text-align: center !important;
  font-size: 1.4em;
}

.panel-default {
  margin: 0px;
  padding: 0px;
}

.book-img-title {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
}

.slider-home img {
  width: 100%;
  max-height: 230px;
}

#header-home {
  text-align: center;
}

.precio-libro {
  position: relative;
  color: #226CF3;
  font-size: 1.5em;
}

hr {
  border-color: black;
}

.margin {
  margin: 0px;
}

.top-space {
  margin-top: 1em;
}

.margin-top {
  position: relative;
  margin-top: 120px;
}

.margin-top-short {
  position: relative;
  margin-top: 60px;
}

.blue-grey {
  background-color: #37474f;
}

.inline-block {
  display: inline-block;
}

.white-text {
  color: white;
}

.red-text {
  color: #c83232;
}

.white {
  background-color: white;
}

.table {
  background-color: white;
}

.navbar {
  margin-bottom: 100px !important;
}

.floating {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 2;
}

.product {
  width: 600px;
  max-width: 100%;
  padding: .9em;
  position: relative;
}

.product h1 {
  padding-bottom: 10px;
  border-bottom: solid 1px;
}

.product .actions {
  right: 1em;
  top: 10px;
}

.sale-data {
  padding: 1em;
  text-align: center;
  border-right: solid 1px #222;
}

.sale-data span {
  display: block;
  font-size: 2.2em;
  color: #3f51b5;
}

.img-info a {
  position: relative;
  top: -150px;
  color: transparent;
  text-align: center;
}

.img-info {
  position: relative;
  max-width: 100px;
  height: 150px;
  top: 0px;
  margin: 0 auto;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
}

.img-info:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.img-info:hover a {
  color: white;
}

.product-avatar {
  max-width: 100px;
  height: 150px;
}

.product-avatar:hover .img-info {
  display: block;
}

.products-container .product {
  margin-top: 3em;
}

#product-description {
  left: 10px;
  right: 20px;
  padding-right: 10px;
  font-size: 1.1em;
}

.creado {
  background-color: #d4e157;
}

footer {
  position: relative;
  background-color: #113A52;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #EEEEEE;
}

footer div {
  position: relative;
  display: inline-block;
}

footer ul li {
  position: relative;
  display: inline-block;
}

footer #sitemap ul li, footer #sucursales ul li {
  position: relative;
  display: block;
}

footer #social-media ul li i {
  position: relative;
  font-size: 1.5em !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  padding: .5em .5em;
  top: -15px;
  margin-top: 30px;
  color: black !important;
}

footer #social-media ul li {
  margin-left: 15px;
}

footer #credit-card ul li i {
  position: relative;
  font-size: 1.8em;
  width: 40px;
  height: 40px;
  top: -15px;
  margin-top: 30px;
}

.highlight {
  -webkit-animation: highlight 1.5s;
  animation: highlight 1.5s;
}

@-webkit-keyframes highlight {
  50% {
    background-color: #ffff00;
    color: black;
  }
  100% {
    background-color: inherit;
  }
}

@keyframes highlight {
  50% {
    background-color: #ffff00;
    color: black;
  }
  100% {
    background-color: inherit;
  }
}

@media (max-width: 480px) {
  .product {
    text-align: center !important;
  }
}

/*# sourceMappingURL=app.css.map */
